services:
  feed-zupzup-db:
    image: mysql:8.4
    container_name: feed-zupzup-db
    environment:
      MYSQL_ROOT_PASSWORD: 12341234
      MYSQL_DATABASE: feed-zupzup
    volumes:
      - ./mysql/data:/var/lib/mysql
    ports:
      - "33061:3306"
