html {
  height: 100%;
}

html::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: 'BMHANNAPro';
  src:
    url('@/assets/fonts/subset-BMHANNAPro.woff2') format('woff2'),
    url('@/assets/fonts/subset-BMHANNAPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BMHANNAAir';
  src:
    url('@/assets/fonts/subset-BMHANNAAir.woff2') format('woff2'),
    url('@/assets/fonts/subset-BMHANNAAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src:
    url('@/assets/fonts/subset-Pretendard-Thin.woff2') format('woff2'),
    url('@/assets/fonts/subset-Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src:
    url('@/assets/fonts/subset-Pretendard-Regular.woff2') format('woff2'),
    url('@/assets/fonts/subset-Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src:
    url('@/assets/fonts/subset-Pretendard-Bold.woff2') format('woff2'),
    url('@/assets/fonts/subset-Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  overflow: auto;
  height: 100%;
  background-color: white;
}

#root {
  position: relative;
  max-width: 600px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 32px;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
}

@media (min-width: 601px) {
  #root {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
  }
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
