html::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: 'BMHANNAPro';
  src:
    url('@/assets/fonts/BMHANNAPro.woff2') format('woff2'),
    url('@/assets/fonts/BMHANNAPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BMHANNAAir';
  src:
    url('@/assets/fonts/BMHANNAAir.woff2') format('woff2'),
    url('@/assets/fonts/BMHANNAAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src:
    url('@/assets/fonts/Pretendard-Thin.woff2') format('woff2'),
    url('@/assets/fonts/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src:
    url('@/assets/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('@/assets/fonts/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src:
    url('@/assets/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('@/assets/fonts/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  overflow: auto;
  height: 100dvh;
}

#root {
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 32px;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
}
